.Header {
  text-align: center;
  background-color: #222;
  height: 150px;
  color: white;
}

.Logo {
  animation: Logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-size: 1.5em;
  font-size: large;
}

.Menu {
  list-style-type: none;
/*  margin: 0;
  padding: 0;*/
  overflow: hidden;
}

.Menu li {
  float: left;
  text-align: center;
  padding: 10px;
}

.Menu li a {
  text-decoration: none;
  color: white;
  background-color: none;
}